.container {
    display: flex;
    border: lightblue 1px solid;
    background-color: white;
    width: 80%;
    justify-content: space-between;
}
.container > div{
    background-color: lightblue;
    padding: 20px;
    margin: 20px;
    width: 30px;
    height: 30px;
}
.container2{
    display: flex;
    background-color: lightcoral;
    border: skyblue 1px solid;
    width: 80%;
    justify-content: space-between;
}
.container2 > div{
    background-color: purple;
    padding: 20px;
    margin: 20px;
    width: 30px;
    height: 30px;
}